project_id = "your-project-id"
region     = "asia-southeast1"

cloudflare_zone_id   = "your-cloudflare-zone-id"
cloudflare_api_token = "your-cloudflare-api-token"
cloudflare_dns_records = [
  "server.yourdomain.com",
  "*.server.yourdomain.com"
]

dashboard_password = "your-secure-password"
